# Pre-Processing

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import * 

# Create a spark session
spark = (
    SparkSession.builder.appName("preprocessing")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "2g")
    .config("spark.executor.memory", "6g")
    .getOrCreate()
)

In [35]:
transactiondf1 = spark.read.parquet("../data/tables/transactions_20210228_20210827_snapshot/")
transactiondf1

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|  18478| 62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|
|      2| 15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|
|  18479| 64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|
|      3| 60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|
|  18479| 94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|
|      3| 76819856970|  448.529684285612|5ace6a24-cdf0-4aa...|    2021-08-20|
|  18479| 67609108741|  86.4040605836911|d0e180f0-cb06-42a...|    2021-08-20|
|      3| 34096466752| 301.5793450525113|6fb1ff48-24bb-4f9...|    2021-08-20|
|  18482| 70501974849| 68.75486276223054|8505fb33-b69a-412...|    2021-08-20|
|      4| 49891706470| 48.89796461900801|ed11e477-b09f-4ae...|    2021-08-20|
|  18482| 46804135891|6.6168976971833615|05b5edb5-b925-414...|    2021-08-20|
|      7| 33064796871| 373.0873675184212|fe188788-b89f-4dd...|    2021-08-20|
|  18483| 44160392990| 83.98473054761176|7c44302d-98b3-48b...|    2021-08-20|
|      7| 68435002949| 232.5364986739752|b4a89891-a113-45e...|    2021-08-20|
|  18484| 70033549200| 871.7678061729196|4b1d941a-21a1-43e...|    2021-08-20|
|      7| 41944909975|30.910755230234322|302ae628-8eba-4a5...|    2021-08-20|
|  18485| 41705715409| 309.5417224575787|67f4f98e-3149-4e8...|    2021-08-20|
|      8| 29566626791| 74.15732460440282|71a81652-cc91-4bf...|    2021-08-20|
|  18487| 32361057556|119.19055863068847|15577921-1104-470...|    2021-08-20|
|      9| 47663262928| 36.69873283148887|c4fcb49a-ce87-4e1...|    2021-08-20|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

In [36]:
transactiondf2 = spark.read.parquet("../data/tables/transactions_20210828_20220227_snapshot/")
transactiondf2

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|  14935| 79417999332|136.06570809815838|23acbb7b-cf98-458...|    2021-11-26|
|      1| 46451548968| 72.61581642788431|76bab304-fa2d-400...|    2021-11-26|
|  14936| 89518629617|3.0783487174439297|a2ae446a-2959-41c...|    2021-11-26|
|      1| 49167531725| 51.58228625503599|7080c274-17f7-4cc...|    2021-11-26|
|  14936| 31101120643|25.228114942417797|8e301c0f-06ab-45c...|    2021-11-26|
|      2| 67978471888| 691.5028234458998|0380e9ad-b0e8-420...|    2021-11-26|
|  14936| 60956456424|102.13952056640888|5ac3da9c-5147-452...|    2021-11-26|
|      2| 47644196714| 644.5220654863093|4e368e44-86f8-4de...|    2021-11-26|
|  14938| 39649557865|209.12780951421405|4d78cd01-4bab-494...|    2021-11-26|
|      3| 88402174457| 141.0387993699113|c50c957d-ecfc-430...|    2021-11-26|
|  14938| 32234779638|102.04090324888061|e94ff357-b036-493...|    2021-11-26|
|      4| 24015173965|             157.0|5b867ac9-d1e0-430...|    2021-11-26|
|  14939| 79830510987|246.13590152514766|666909ed-79c2-45b...|    2021-11-26|
|      5| 76646764782|35.463129852951695|0c855413-67fa-467...|    2021-11-26|
|  14939| 17324645993|24.108258533478818|40fd2f7f-a274-420...|    2021-11-26|
|      5| 71041015148| 89.76800577775657|93255de9-c8fe-426...|    2021-11-26|
|  14939| 75089928159|14.806519329659501|2c5ba1f3-1c5a-4e5...|    2021-11-26|
|      5| 80324045558| 62.79195913018835|564f81c8-c3c1-4f4...|    2021-11-26|
|  14939| 50315283629| 575.3321071340728|026c6d3d-4f7c-4f4...|    2021-11-26|
|      6| 11566786699|15.856637357709419|0230e104-aef0-48f...|    2021-11-26|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

In [4]:
userdf = spark.read.parquet("../data/tables/consumer_user_details.parquet")
userdf.show()

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [5]:
consumerdf = spark.read.option("header","true").csv("../data/tables/tbl_consumer.csv", sep="|")
consumerdf = consumerdf.withColumnRenamed("name","customer_name")
consumerdf

+-----------------+--------------------+-----+--------+-----------+-----------+
|    customer_name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [33]:
merchantdf = spark.read.parquet("../data/tables/tbl_merchants.parquet")
merchantdf = merchantdf.withColumnRenamed("name","company_name")

# Replace all square brackets with round brackets
merchantdf = merchantdf.withColumn('tags', regexp_replace('tags', '\\[', '\\('))
merchantdf = merchantdf.withColumn('tags', regexp_replace('tags', '\\]', '\\)'))

# Extract take rate into seperate column
merchantdf = merchantdf.withColumn("take_rate", 
                                   split(col("tags"), "\\),").getItem(2))\
                       .withColumn('take_rate', 
                                   regexp_replace('take_rate', 'take rate: ', 
                                                  ''))\
                       .withColumn('take_rate', 
                                   regexp_replace('take_rate', '\\(', ''))\
                       .withColumn('take_rate', 
                                   regexp_replace('take_rate', '\\)', ''))

# Extract revenue band
merchantdf = merchantdf.withColumn("revenue_band", 
                                   split(col("tags"), "\\),").getItem(1))\
                       .withColumn('revenue_band', 
                                   regexp_replace('revenue_band', '\\(', ''))\
                       .withColumn('revenue_band', 
                                   regexp_replace('revenue_band', '\\)', ''))

# Extract tags band
merchantdf = merchantdf.withColumn("tags", 
                                   split(col("tags"), "\\),").getItem(0))\
                       .withColumn('tags', 
                                   regexp_replace('tags', '\\(', ''))\
                       .withColumn('tags', 
                                   regexp_replace('tags', '\\)', ''))


merchantdf.show(truncate=False)

+------------------------------------+-------------------------------------------------------------------------------------+------------+---------+------------+
|company_name                        |tags                                                                                 |merchant_abn|take_rate|revenue_band|
+------------------------------------+-------------------------------------------------------------------------------------+------------+---------+------------+
|Felis Limited                       |furniture, home furnishings and equipment shops, and manufacturers, except appliances|10023283211 | 0.18    | e          |
|Arcu Ac Orci Corporation            |cable, satellite, and otHer pay television and radio services                        |10142254217 | 4.22    | b          |
|Nunc Sed Company                    |jewelry, watch, clock, and silverware shops                                          |10165489824 | 4.40    | b          |
|Ultricies Dignissim Lacus Foundation|wAtch, clock, and jewelry repair shops                                               |10187291046 | 3.29    | b          |
|Enim Condimentum PC                 |music shops - musical instruments, pianos, and sheet music                           |10192359162 | 6.33    | a          |
|Fusce Company                       |gift, card, novelty, and souvenir shops                                              |10206519221 | 6.34    | a          |
|Aliquam Enim Incorporated           |computers, comPUter peripheral equipment, and softwAre                               |10255988167 | 4.32    | b          |
|Ipsum Primis Ltd                    |watch, clock, and jewelry repair shops                                               |10264435225 | 2.39    | c          |
|Pede Ultrices Industries            |computer programming , data processing, and integrated systems design services       |10279061213 | 5.71    | a          |
|Nunc Inc.                           |furniture, home furnishings and equipment shopS, and manufacturers, except appliances|10323485998 | 6.61    | a          |
|Facilisis Facilisis Corp.           |computers, computer peripheral equipment, and software                               |10342410215 | 6.34    | a          |
|Odio Institute                      |equipment, tool, furniture, and appliance  rent al and leAsing                       |10346855916 | 3.57    | b          |
|Rutrum Justo Ltd                    |music shops - musical instruments, pianos, and sheet music                           |10364012396 | 3.63    | b          |
|Tellus Foundation                   |artist supply and craft  shops                                                       |10385011947 | 3.17    | b          |
|Sed Et Company                      |florists supplies, nursery stock, and flowers                                        |10385163239 | 6.61    | a          |
|Id Ltd                              |computers, computer peripheral  equipment, and software                              |10385250025 | 5.54    | a          |
|Consequat Foundation                |antique shops - sales, repairs, and restoration serVices                             |10404542215 | 6.93    | a          |
|Sit Amet Nulla Corp.                |motor vehicle supplies and new parts                                                 |10430380319 | 4.97    | b          |
|Massa Vestibulum Foundation         |moTor vehicle supplies and new parts                                                 |10441711491 | 5.77    | a          |
|Ut Consulting                       |gift, card, novelty, and souvenir shops                                              |10462560289 | 2.95    | c          |
+------------------------------------+-------------------------------------------------------------------------------------+------------+---------+------------+
only showing top 20 rows

In [37]:
transactiondf = transactiondf1.union(transactiondf2)
mergedf = transactiondf.join(userdf, "user_id")
mergedf
mergedf = mergedf.join(consumerdf, "consumer_id")
mergedf
mergedf = mergedf.join(merchantdf, "merchant_abn")
mergedf.limit(10)

+------------+-----------+-------+------------------+--------------------+--------------+-------------+--------------------+-----+--------+------+--------------------+--------------------+---------+------------+
|merchant_abn|consumer_id|user_id|      dollar_value|            order_id|order_datetime|customer_name|             address|state|postcode|gender|        company_name|                tags|take_rate|revenue_band|
+------------+-----------+-------+------------------+--------------------+--------------+-------------+--------------------+-----+--------+------+--------------------+--------------------+---------+------------+
| 68216911708|        551|   3471|  39.2325218595659|c921263e-489e-45a...|    2021-08-21|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|Placerat Eget Ven...|computers, comput...|     3.05|           c|
| 46451548968|        551|   3471|3.8405569898888428|7e8e7fca-04a1-4f2...|    2021-08-19|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|Tempus Eu Ligula ...|heaLth and beauty...|     6.04|           a|
| 35556933338|        551|   3471| 66.18325079406301|13b0be6a-20b7-439...|    2021-08-22|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|Semper Cursus Int...|digital goods: bo...|     6.87|           a|
| 91772719127|        551|   3471|33.692747732339996|3750984f-4313-47d...|    2021-08-14|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|Dictum Cursus Inc...|artist supply and...|     5.68|           a|
| 29216160692|        551|   3471|171.76081688162495|f5917c53-caca-4b6...|    2021-08-15|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|    Class Aptent LLC|lawn and garden s...|     5.60|           a|
| 68216911708|        551|   3471|60.713668658695276|94fbe85c-434a-4e6...|    2021-07-15|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|Placerat Eget Ven...|computers, comput...|     3.05|           c|
| 75034515922|        551|   3471|5.4642431321898375|12e4b9c7-1738-481...|    2021-07-15|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|   Ac Eleifend Corp.|digital goods: bo...|     6.22|           a|
| 24852446429|        551|   3471|56.947518842650844|8e65c8ee-67f1-411...|    2021-08-16|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|      Erat Vitae LLP|florists supplies...|     2.94|           c|
| 60111071436|        551|   3471| 65.18552675559465|5f7d4237-81ca-4e7...|    2021-08-27|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|   Imperdiet Non LLC|cable, satellite,...|     6.84|           a|
| 22019664345|        551|   3471| 41.38591300683678|d0a09e6d-27b9-445...|    2021-07-23|    Todd Long|883 Patty Mountai...|  NSW|    2021|  Male|Molestie Sodales ...|moTor vehicle sUp...|     6.63|           a|
+------------+-----------+-------+------------------+--------------------+--------------+-------------+--------------------+-----+--------+------+--------------------+--------------------+---------+------------+

In [38]:
mergedf.write.parquet('../data/curated/mergedf.parquet')

In [39]:
mergedf.groupBy("merchant_abn").mean("dollar_value")

+------------+------------------+
|merchant_abn| avg(dollar_value)|
+------------+------------------+
| 38700038932|1333.0894941085276|
| 83412691377|35.048115443301164|
| 15613631617| 300.1850319573497|
| 19839532017|             157.0|
| 73256306726|284.96133358238615|
| 35344855546| 87.90619961634984|
| 73841664453|  89.0963665048099|
| 78916025936|352.61969394690243|
| 60654402457| 84.44940983729136|
| 92202115241|312.11904590114267|
| 52763133264|107.16177420295212|
| 48214071373| 302.8523294211269|
| 41956465747|236.55325291659966|
| 34440496342| 90.65605227790425|
| 12516851436|149.88324756182888|
| 96946925998| 956.4072048305517|
| 57798993346| 930.3728778389997|
| 38986645707| 862.6681661928312|
| 29216160692|106.77555167615343|
| 87211363921| 53.94662143790201|
+------------+------------------+
only showing top 20 rows

main websites out there containing australian datasets:
- https://explore.data.abs.gov.au/ 
- https://data.gov.au/
- https://researchdata.edu.au/
- https://aurin.org.au/

Key features to join on: 
- timestamp
- location: state/postcode/SA2 

Key model features: 
- merchant abn (nominal)
- datetime
- user id: how many users shop at each merchant
- dollar value
- location
- gender
- tags

SA2 Shapefile: https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/jul2021-jun2026/access-and-downloads/digital-boundary-files